
body, table.body, h1, h2, h3, h4, h5, h6, p, td {
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}

h1 {font-size: 40px;}
h2 {font-size: 36px;}
h3 {
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

.emphasis {
  font-weight: 600;
}

a {
  color: #fd6222;
  text-decoration: none;
}

/* order matters here for visited, active and hover */
a:visited {
  color: #fd6222 !important;
}

a:active,
a:hover {
  color: #ff7941 !important;
}

table.facebook td {
  background: #3b5998;
  border-color: #2d4473;
}

table.facebook:hover td {
  background: #2d4473 !important;
}

table.twitter td {
  background: #00acee;
  border-color: #0087bb;
}

table.twitter:hover td {
  background: #0087bb !important;
}

table.google-plus td {
  background-color: #DB4A39;
  border-color: #CC0000;
}

table.google-plus:hover td {
  background: #CC0000 !important;
}

.template-label {
  color: #ffffff;
  font-weight: bold;
  font-size: 11px;
}

.callout .wrapper {
  padding-bottom: 20px;
}

.callout .panel {
  background: #ECF8FF;
  border-color: #b9e5ff;
}

.header {
margin-top:25px;
margin-bottom: 25px;
}

.data {
  font-size: 16px;
}

.footer {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  table[class="body"] .right-text-pad {
    padding-left: 10px !important;
  }

  table[class="body"] .left-text-pad {
    padding-right: 10px !important;
  }

  .logo {
    margin-left: 10px;
  }
}

table[class^="better-button"] {
  margin-top: 10px;
  margin-bottom: 20px;
}

table.columns td[class^="better-button"] {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  padding-bottom: 0px;
}

[class^="better-button"] a {
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;

  padding: 12px 25px;
  display: inline-block;
  font-weight: 500;
}

.better-button-primary a {
  background-color: mix(#ff7941, #fd6222, 60%);
  background-image: linear-gradient(to bottom, #ff7941, #fd6222);
  background-repeat: repeat-x;
  border-color: #ff7941;
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.better-button-primary:hover a {
  background-color: #ff7941 !important;
  background-image: none !important;
  color: #FFFFFF !important;
}

.better-button-primary:visited a {
  color: #FFFFFF !important;
}

.better-button-primary:active a {
  color: #FFFFFF !important;
}

.better-button-alt a {
  background-color: transparent;
  border: 1px solid #ff7941;
  color: #ff7941;
}

.better-button-alt:hover a {
  background-color: #f7f8fa !important;
  border-color: #fd6222 !important;
  color: #fd6222 !important;
}

.better-button-alt:visited a {
  color: #ff7941 !important;
}

.better-button-alt:active a {
  color: #ff7941 !important;
}

.verification-code {
  background-color: #EEEEEE;
  padding: 3px;
  margin: 8px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
}

/* psiphon customizations */
.body-bg {
  background-color: #f7f8fa;
}

.container-bg {
  background-color: #ffffff;
}

td.spacer.brand-bg {
  background-color: #ff7941;
}

.text-color-normal {
  color: #9e9e9e;
}
