[[Subject .Subject "Welcome to the Psiphon Data Engine"]] <!--Psiphon change-->

<table class="row">
	<tr>
		<td class="wrapper last">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>Hi [[.Name]],</h4>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						Welcome! Ready to explore real-time open network measurements? <!--Psiphon change-->
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last">
			<table class="twelve columns">
				<tr>
					<td class="center">
						<p>
							If you are new to the Psiphon Data Engine and have questions, please read the <a href="https://psix.ca/d/g6Mhku6Zz/faqs">FAQs</a>. <!--Psiphon change-->
						</p>
					</td>
					<td class="expander"></td>
				</tr>
				<tr>
					<td>
						Thank you for joining. <!--Psiphon change-->
						<br />
						<p>Psiphon</p> <!--Psiphon change-->
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>

