[[Subject .Subject "Welcome to the Psiphon Data Engine"]]

<table class="row">
	<tr>
		<td class="wrapper last text-color-dark">

			<table class="twelve columns">
				<tr>
					<td>
						<h4>Hi [[.Name]],</h4>
					</td>
					<td class="expander text-color-dark"></td>
				</tr>
				<tr>
					<td>
						Welcome! Ready to explore real-time open network measurements?
					</td>
				</tr>
			</table>

		</td>
	</tr>
</table>

<table class="row">
	<tr>
		<td class="wrapper last text-color-dark">
			<table class="twelve columns">
				<tr>
					<td class="center text-color-dark">
						<p>
							If you are new to the Psiphon Data Engine and have questions, please read the <a href="https://psix.ca/d/g6Mhku6Zz/faqs">FAQs</a>.
						</p>
					</td>
					<td class="expander text-color-dark"></td>
				</tr>
				<tr>
					<td>
						Thank you for joining.
						<br />
						<p>Psiphon</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


